<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mystyle.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta charset="UTF-8">
    <title>Medlemmer</title>
</head>
<body>
<h5>
    Medlemmer
</h5>
<div class="menu-box">
    <nav class="menu">
<table>
    <tr>
        <th>ID:</th><th>Navn:</th><th>Se info:</th>
    </tr>
    <tr th:each="member : ${members}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.username}"></td>

    <td>
        <a th:href="@{'/members/showMember/' + ${member.id}}">Se medlem</a>
    </td>
    </tr>
    </table>
    </nav>
</div>
<div class="BtnTilbage">
    <button id="tilbage" type="submit"><a th:href="@{/menu}">Tilbage</a></button>
</div>
</body>
</html>

