body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?t=st=1743496987~exp=1743500587~hmac=8ccb66dcaf444c6cfc95d53300f43d37912102af6b0b864b27a0d2e4bc1b583e&w=1480');
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
}
.background-image {

}
h1 {
    font-family: Papyrus, serif;
    font-size: 50px;
    text-align: center;
}
h2 {
    font-family: Papyrus, serif;
    font-size: 35px;
    text-align: center;
}
#racekatteliste {
    font-family: Papyrus, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration-color: white;
}
#catpicture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
#newcatbutton
{
    width: 200px; /* Adjust the button's width */
    height: 50px; /* Adjust the button's height */
    padding: 10px; /* Adds space inside the button */
    font-size: 20px; /* Adjusts the text size */
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    display: block;
}

.racekatteliste-box {
    background-color: #808080; /* grey background */
    padding: 10px;
    border: 1px solid #666; /* grey border */
    margin-bottom: 10px;
    margin-right: 400px;
    margin-left: 400px;
    opacity: 90%;

}
#members {
    width: 200px; /* Adjust the button's width */
    height: 50px; /* Adjust the button's height */
    padding: 10px; /* Adds space inside the button */
    font-size: 20px; /* Adjusts the text size */
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    width: 150px; /* Adjust the button's width */
    height: 35px; /* Adjust the button's height */
    padding: 10px; /* Adds space inside the button */
    font-size: 20px; /* Adjusts the text size */
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    display: block;
    line-height: 15px;
}

.BtnLogUd button {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 40px;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
}
.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.button-container button {
    display: inline-block;
    margin: 0;
    padding: 10px;
}
#edit
{
    width: 200px; /* Adjust the button's width */
    height: 50px; /* Adjust the button's height */
    padding: 10px; /* Adds space inside the button */
    font-size: 20px; /* Adjusts the text size */
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    display: block;
}


