body {
    background-image: url("https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?t=st=1743496987~exp=1743500587~hmac=8ccb66dcaf444c6cfc95d53300f43d37912102af6b0b864b27a0d2e4bc1b583e&w=1480");
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
}
h1 {
    padding-top: 50px;
    font-family: Papyrus, serif;
    font-size: 50px;
    text-align: center;
}
form {
    font-family: Papyrus, serif;
    font-size: 20px;
    text-align: center;
}
a
{
    text-decoration: none;
}
button {
    display: inline-block;
    color: white;
    background-color: navajowhite;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin: 75px auto 0;
    padding: 15px 32px;
    border: none;
    width: 200px;
    border-radius: 50%;
    text-decoration: none;


    }
