body {
    background-image: url("https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?t=st=1743496987~exp=1743500587~hmac=8ccb66dcaf444c6cfc95d53300f43d37912102af6b0b864b27a0d2e4bc1b583e&w=1480");
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
}
h5 {
    font-family: Papyrus, serif;
    font-size: 50px;
    text-align: center;
}
h1 {
    padding-top: 50px;
    font-family: Papyrus, serif;
    font-size: 50px;
    text-align: center;
}
h2 {
    padding-top: 50px;
    font-family: Papyrus, serif;
    font-size: 25px;
    text-align: center;
}
form {
    font-family: Papyrus, serif;
    font-size: 20px;
    text-align: center;

}
a
{
    text-decoration: none;
    color: black;
}
a:hover {
    color: darkred;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
button {
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 35px auto;
    display: block;
    line-height: 10px;
    }
button:hover {
    color: darkred;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.loginbox {
    background: antiquewhite;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #666;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 25%;
    font-family: Papyrus, serif;
    font-weight: bold;
}
.box {
    width: 300px;
    height: 420px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: rgba(128,128,128,0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}

#newcatbox {
    width: 300px;
    height: 600px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 50px auto auto;
    background-color: navajowhite;

}
#h12 {
    h1 {
        padding-top: 10px;
        font-family: Papyrus, serif;
        font-size: 50px;
        text-align: center;
    }
}
#editcatform {
    font-weight: bold;
}
#update {
    width: 100px;
    height: 35px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 35px auto;
    display: block;
    line-height: 10px;
}
#update:hover {
    color: darkred;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
input[type="submit"]:hover {
    color: darkred;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.menu-box {
    background: navajowhite;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #666;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 25%;
    font-family: Papyrus, serif;
    font-weight: bold;


}
.menu-box th {
     width: 10%;
     border-collapse: collapse;
 }

.menu-box th, .menu-box td {
    padding: 1px;
    border-bottom: 1px solid #ccc;
}
.menu-box th {
    background-color: navajowhite;
    font-weight: bold;
    text-align: left;
}
.menu-box td {
    text-align: left;
    font-weight: bold;
}
.menu a {
    width: 100px;
    height: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 35px auto;
    display: block;
    line-height: 10px;

}
.member {
    background: navajowhite;
    padding: 20px;
    border: 1px solid #666;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-family: Papyrus;
    font-weight: bold;
    border-radius: 10px;
    width: 40%;
}
#kat {
    background: navajowhite;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #666;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 40%;
    font-family: Papyrus, serif;
    font-weight: bold;
}

#kat table {
    width: 100%;
    border-collapse: collapse;
}

#kat th, #kat td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

#kat th {
    background-color: navajowhite;
    font-weight: bold;
    text-align: left;
}

#kat td {
    text-align: left;
    font-weight: bold;
}

#kat img {
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.BtnTilbage {
    position: fixed;
    font-size: 20px;
    font-family: Papyrus, Serif;
    font-weight: bold;
    position: absolute;
    top: 1px;
    left: 1px;
    margin: 25px;
    width: 75px;
    height: 30px;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    text-decoration: none;
    color: black;
}
#tilbage {
    top: 10px;
    left: 10px;
    margin: 40px;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    position: fixed;
}
#h4 {
    text-align: center;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 20px;
}
.BtnTilbage:hover {
    color: darkred;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#editcatform {
    background: antiquewhite;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #666;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 25%;
    font-family: Papyrus, serif;
    font-weight: bold;
}
#newcaterror {
    width: 200px;
    height: 25px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: #fbf004;
    font-family: Papyrus, Serif;
    font-weight: bold;
    text-align: center;
    margin: 35px auto;
    display: block;
    line-height: 10px;
}
