body {
    background-image: url("https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?t=st=1743496987~exp=1743500587~hmac=8ccb66dcaf444c6cfc95d53300f43d37912102af6b0b864b27a0d2e4bc1b583e&w=1480");
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
    padding-top: 100px;
}
h1 {
    font-family: Papyrus, Serif;
    font-weight: bold;
}
.box {
    width: 350px;
    height: 470px;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: rgba(128,128,128,0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: auto;
    padding: 10px;


}
input {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background: navajowhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    width: 80%;
}
button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background: navajowhite;
    font-family: Papyrus, Serif;
    font-weight: bold;
}
#idref {
    font-size: 15px;
    font-family: Papyrus, Serif;
    font-weight: bold;
}
label {
    font-family: Papyrus, Serif;
}
.box1 {
    position: absolute;

    left: 43%;
    right: 50%;
    width: 200px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    background: rgba(153, 0, 255, 0.44);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.error {
    font-family: Papyrus, Serif;
    font-size: 17px;
}
.BtnTilbage button {
    font-size: 20px; /* Adjusts the text size */
    font-family: Papyrus, Serif;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 40px;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
}