<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="mystyle.css">
    <meta charset="UTF-8">
    <title>Racekatteklubben - Log ind</title>

</head>
<body>
<h1>Login</h1>
<br>
<br>
<br>
<form th:action="@{/login}" th:object="${user}" method="post">
    <label for="email">
        Indtast email:
    </label>
    <input type="text" id ="email" name="email" th:field="*{email}" required>
    <label for ="password">
        Indtast password:
    </label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <button type="submit">Log ind</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:deeppink;"></p>

</body>
</html>