<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="mystyle.css">
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta charset="UTF-8">
  <title>Om os</title>
</head>
<body>
<h1>Om os</h1>
<div id="h4">
<h4>Vi her hos Racekatteglubben er en forening for Danske racekatteentustiaster,</h4>
<h4>som har gjort det til vores mission at katolere de forskellige katteracer i Danmark og deres fælles træk.</h4>
<h4>Derfor har vi valgt at oprette denne hjemmeside for at spredde kærligheden af racekatten.</h4>
<h4>Vis du vil kontakte os så kan du gøre det via vores e-mail på [Insert E-mail], eller ringe til [Insert Phonenumber]</h4>
</div>
<div class="BtnTilbage">
  <button id="tilbage" type="submit"><a th:href="@{/}">Tilbage</a></button>
</div>
</body>
</html>