<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}">
    Navn: <input type="text" th:field="*{username}"><br>
    Email: <input type="email" th:field="*{email}"><br>
    Kodeord: <input type="password" th:field="*{password}"><br>
    <button type="submit">Opdater brugerinfo</button>
</form>
<button th:onclick="'deleteUser(' + ${id} + ');'">Slet bruger</button>

<script>
    function deleteUser(id) {
        if (confirm('Er du sikker på du vil slette bruger?')) {
            fetch('/delete/' + id, {
                method: 'DELETE'
            }).then(response => {
                console.log(response)
                if (response.status === 200) {
                    alert('Bruger slettet!');
                    window.location.replace("/");
                } else {
                    alert('Kan ikke slette bruger.');
                }
            });
        }
    }
</script>

</body>
</html>