<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/registeringStyle.css">
</head>
<body>
<div class="box1" th:if="${updated}">
    <p>Bruger opdateret</p>
</div>
<div class="box1" th:if="${updated == false}">
    <p>Bruger ikke opdateret, prøv igen.</p>
</div>

<div class="box">
<h1>Rediger bruger</h1>
<form th:action="@{/edit}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}">
    <label for="navn">Navn</label><br>
    <input id="navn" type="text" th:field="*{username}"><br>
    <label for="email">Email</label><br>
    <input id="email" type="email" th:field="*{email}"><br>
    <label for="password">Kodeord</label>
    <input id="password" type="password" th:field="*{password}"><br>
    <button type="submit">Opdater brugerinfo</button>
</form>
    <br>
<button th:onclick="'deleteUser(' + ${id} + ');'">Slet bruger</button>
</div>
<script>
    function deleteUser(id) {
        if (confirm('Er du sikker på du vil slette bruger?')) {
            fetch('/delete/' + id, {
                method: 'DELETE'
            }).then(response => {
                console.log(response)
                if (response.status === 200) {
                    alert('Bruger slettet!');
                    window.location.replace("/");
                } else {
                    alert('Kan ikke slette bruger.');
                }
            });
        }
    }
</script>
</body>
</html>