<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger udstilling</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/mystyle.css">
</head>
<body>
<h1>Rediger udstilling</h1>

<form id="editcatform" th:action="@{/editexhibition/{id}(id=${exhibition.id})}" th:object="${exhibition}" th:method="post">
    <input type="hidden" name="id" th:value="${exhibition.id}">

    <label for="name">Navn:</label><br>
    <input type="text" id="name" name="name" th:value="*{name}" required><br>

    <label for="date">Dato:</label><br>
    <input type="date" id="date" name="date" th:value="*{date}" required><br>

    <label for="time">Tid:</label><br>
    <input type="time" id="time" name="time" th:value="*{time}" required><br>

    <label for="description">Beskrivelse:</label><br>
    <input type="text" id="description" name="description" th:value="*{description}" required><br>

    <label for="price">Pris:</label><br>
    <input type="number" id="price" name="price" th:value="*{price}" required><br>

    <input id="update" type="submit" value="Opdater">
</form>

</body>
</html>