<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mystyle.css">
    <meta charset="UTF-8">
    <title>Rediger racekat</title>
</head>
<body>
<h1>Rediger racekat</h1>
<form id="editcatform" th:object="${racekat}" th:action="@{/editcat/{id}(id=${racekat.id})}" method="post">
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" th:value="${racekat.name}" required><br>
    <label for="age">Alder:</label>
    <input type="number" id="age" name="age" th:value="${racekat.age}" required><br>
    <label for="race">Race:</label>
    <input type="text" id="race" name="race" th:value="${racekat.race}" required><br>
    <label for="description">Beskrivelse:</label>
    <input type="text" id="description" name="description" th:value="${racekat.description}" required><br>
    <label for="picture">Billede:</label>
    <input type="text" id="picture" name="picture" th:value="${racekat.picture}" required><br>
    <input type="submit" value="Opdater">
</form>



</body>
</html>