<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mystyle.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Hovsa, noget gik galt</h1>
<div class="errorPageButton">
<button th:type="submit" style="height: 75px; line-height: 1.5" ><a th:href="@{/}">Tryk her for at gå til forsiden</a></button>
    <h2 th:text="${status + ' ' + error}"></h2>
</div>
<div class="BtnTilbage">
<button id="tilbage" type="submit">
<a href="javascript:history.back()">Tilbage</a></button>
</div>
</body>
</html>